* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Courier New, monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #652beca8; 
}

h1 {
  margin-bottom: 40px;
  font-size: 2em;
  color: #333;
}

.stt-container, .tts-container {
  width: 100%;
  max-width: 600px;
  background: #4c00ffce;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #000000;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.listen-button {
  background-color: #38c23d;
  color: white;
}

.listen-button.active {
  background-color: #f44336;
}

.speak-button {
  background-color: #008CBA;
  color: white;
}

button:hover {
  background-color: #555;
  color: white;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 5px;
  resize: none;
  margin-bottom: 10px;
}

.transcript {
  margin-top: 20px;
  font-size: 16px;
  color: #ffffff;
  white-space: pre-wrap;
  word-wrap: break-word;
}